.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

header, main, .todo-container, .todo-wrapper{
  border: 1px solid black;
}

header{
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

main{
  margin: auto;
  width: 60%;
  padding: 25px 25px 25px 25px;
  flex-direction: column;
}

.action-row{
  justify-content: flex-end;
}

.todo-container{
  padding: 20px;
}

.todo-wrapper{
  padding: 5px;
  margin: 5px 0px;
  justify-content: space-between;
}

.flex {
  display: flex;
}




